:root {
  font-family: Amatic SC, cursive;
}

body {
  background-image: url(./assets/img/memphis-mini.webp);
  background-repeat: repeat;
  background-blend-mode: multiply;
  background-color: #f2f2f2;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
  padding-bottom: 12px;
}

.nav-menu {
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 4px;
  border-bottom-right-radius: 250px 30px;
  border-bottom-left-radius: 0px 255px;
  border: solid 2px #41403e;
  font-size: 40px;
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
}

.nav-menu:hover,
.jittery span {
  animation: jitter 250ms linear infinite;
  display: inline-block;
}

@keyframes jitter {
  50% {
    transform: skewY(1.2deg) skewX(-1.2deg) scale(1.05);
  }
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.nav {
  padding: 40px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
}

.top-container {
  display: flex;
  padding-top: 150px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.fade-in-from-bottom {
  animation: 0.8s ease-in-out 0.1s 1 fadeInFromBottom;
}

.thumbs-img {
  width: 12%;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;
  border: solid 2px #41403e;
  filter: sepia(50%);
  margin-right: 50px;
}

@keyframes fadeInFromBottom {
  0% {
    transform: translateY(+25%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 150px;
}

.about-container > p {
  padding-top: 20px;
  width: 50%;
  text-align: justify;
  font-size: 20px;
  font-family: Nunito, sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 25px;
  padding-bottom: 250px;
}

.projects-container {
  text-align: center;
  width: 100%;
}

.cards-container {
  padding-top: 40px;
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 100px;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 15%;
  padding-top: 20px;
  height: 400px;
}

.project-card.card-effect {
  background: transparent;
  padding: 0.5rem 0.5rem;
  margin: 0 0.5rem;
  font-size: 1rem;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  border: solid 2px #41403e;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.25s;
}

.card-effect:hover {
  box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, 0.3);
  scale: 1.1;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 100px;
}

.contact-title {
  padding-bottom: 40px;
}

.project-img {
  height: 230px;

  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 15px 255px;

  border: solid 2px #41403e;
  background-color: white;
  padding: 8px;
  filter: sepia(50%);
  opacity: 75%;
}

.card-desc {
  margin: 14px 20px 8px 20px;
}

.sml-container {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding-bottom: 300px;
}

.social-media-links a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-links a img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  font-size: 22px;
  width: 32px;
}
